.list-item__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #328eef;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.list-item__subtitle {
    font-style: italic;
    color: #7f7d76;
}

#last-edited {
    font-style: italic;
    color: #7f7d76;
}